<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308219045471-9e0n9aa5l6gacqun609blrovpr2m6fp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308219045471-9e0n9aa5l6gacqun609blrovpr2m6fp7</string>
	<key>API_KEY</key>
	<string>AIzaSyAYTMSMDkg1UPo2coQHHr1n2rdxPbbufLw</string>
	<key>GCM_SENDER_ID</key>
	<string>308219045471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.lasistem.appFilmes</string>
	<key>PROJECT_ID</key>
	<string>app-filmes-88fc8</string>
	<key>STORAGE_BUCKET</key>
	<string>app-filmes-88fc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308219045471:ios:294098037888c28a4d1dea</string>
</dict>
</plist>